@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h2 {
  margin: 0px !important; /* reset margin-block-start & margin-block-end */
}
.app {
  position: relative;
  max-height: 100vh;
  text-align: center;
}
.app header {
  margin-top: 30px;
}
.app header h1 {
  font-weight: 400;
}
.app header h3 {
  font-weight: 500;
  color: #585252;
}
.feedback {
  font-size: 24px;
  font-weight: bold;
  color: #7ec8e3;
}
.game-actions {
  margin-top: 15px;
}
.countdownBx {
  min-height: 45px;
}
.game-stats {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
}
.statsBx {
  font-size: 0.8em;
}
.game-stats .heading {
  font-weight: 500;
  color: #585252;
}
.main {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 25px;
  /*display: flex;*/
}
.cardBx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*width: 1200px;*/
  margin: auto;
  /*row-gap: 30px;
  column-gap: 20px;*/
}
.flip-card {
  width: 150px;
  border: 1px solid #dcdcdc;
  /*padding: 5px;*/
  min-height: 220px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  perspective: 1000px;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do a horizontal flip when you move the mouse over the flip box contianer */
.flip-card:hover .flip-card-inner {
  /*transform: rotateY(180deg);*/
  cursor: pointer;
}
.rotate {
  transform: rotateY(180deg);
  pointer-events: none;
}
.white-out {
  background-color: #fff;
  color: #fff;
  pointer-events: none; /* removes clickable interaction */
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.center-text {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 47px;
}
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* footer height */
  text-align: center;
}
/*
  * Misc
*/

.lock-pointer-events {
  pointer-events: none;
}
.btn {
  border-radius: 5px;
  padding: 10px;
  min-height: 30px;
  min-width: 120px;
  border: none;
  margin: 3px 5px;
}
.btn:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: #dedede;
}
.btn:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 1px #dedede;
  transition: 0.2s;
}
.btn-start {
  background-color: #669900;
  outline-color: #669900;
}
.btn-start:active {
  outline-color: #669900;
}
.btn-reset {
  background-color: #eac006;
  outline-color: #eac006;
}
.btn-reset:active {
  outline-color: #eac006;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

/*
  * Countdown Timer Comp
*/
.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}
.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}
.expired-notice > p {
  font-size: 1.5rem;
}
.show-counter {
  padding: 0.5rem;
}
.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}
.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.show-counter .countdown.danger {
  color: #ff0000;
}
.show-counter .countdown > p {
   margin: 0;
}
.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}